.user-list{
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

.user-list th, .user-list td{
    padding: 12px 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.user-list th{
    background-color: #2c3e50;
    color: white;
}

.user-list td{
    background-color: #f9f9f9;
}

.user-list .subscription{
    text-align: center;
}

.user-list td .userNameLink:hover{
    color: rgb(204, 204, 235);
    cursor: pointer;
}